#######################################
## GENERAL
#######################################
APP_HOST="https://urc.ngrok.io/"
APP_PORT=8080
APP_DOMAIN="urc.ngrok.io"
FRONTEND_WEB_URL="urc.ngrok.io"

#######################################
## DATABASE
#######################################
DATABASE_USERNAME=postgres
DATABASE_HOST=172.17.0.3

#######################################
## GOOGLE
#######################################
GOOGLE_API_KEY="AIz....."
GOOGLE_CLIENT_ID=u3undr7ihd.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=gA-7HCt


#######################################
## API
#######################################
CORS_ORIGINS="*"
CONFIG_HOSTS="urc.ngrok.io"

##################################################
# EMAIL
##################################################
ADMIN_EMAIL=hello@unirestaurantclubs.com
SANITIZE_EMAIL=tech@unirestaurantclubs.com
SMTP_ADDRESS=smtp.sendgrid.net
SMTP_PORT=587
SMTP_USERNAME=apikey
SMTP_PASSWORD=SG.Q0U

##################################################
# RESTAURANT APIS
##################################################
YELP_API_KEY="I_GHoWpTB3wvYYHYx"
TRIP_ADVISOR_API_KEY="97b372cce37ab"

##################################################
# STRIPE
##################################################
STRIPE_API_KEY="sk_test_pdDNSfVrOB2pz2mE"
STRIPE_WEBHOOK_SECRET="whsec_04wM2y6tpEDBz8v"

##################################################
# AWS S3
##################################################
AWS_ACCESS_KEY_ID=2IJSHIIR
AWS_SECRET_ACCESS_KEY=iNWSozL5SKAJ
