%p
  Hello
  = "#{@user.email},"
%p Welcome to Uni Restaurant Clubs. We are very excited to have you as a member!!
%p
  Please confirm your email address
  = link_to 'by clicking here.', @confirm_url
%p
  Or by using this link
  = @confirm_url
%p
  If you did not sign up for Uni Restaurant Clubs then please disregard this email.

