%p
  Hello
  = "#{@user.email},"
%br
%p It looks like you would like to reset your password?
%p
  If you would like to reset your password then
  = link_to 'click here.', @confirm_url
%p
  If you did not try and reset your password then please disregard this email.

