%p
  Hello
  = "#{@user.email},"
%br
%p We see you are attempting to connect to Uni Restaurant Club.
%p Please enter the following code in the app to continue.
%h1(style="color:red;")= @code
%p
  If you did not try to connect then please disregard this email.

