%p
  Hello
  = "#{@user.pending_uni_email},"
%br
%p We see you are trying to confirm your university or college email address.
%p
  You can confirm your email address
  = link_to 'by clicking here.', @confirm_url
%p
  If you did not try to confirm your email address then please disregard this email.

