%p = "Hello #{@creator.name},"
%br
%p
  Regarding the restaurant
  %b= "#{@restaurant.name},"
  we regret to inform you that you were not selected for this review.
%p
  The reason for this is that two other creators had a better matching time and thus they were selected in order to meet the restaurant's deadline.
%br
%p
  We greatly appreciate you selecting a time option and we will make sure to bump you up in the system for the next available review!

