%p
  Hello Team,
%br
%b ***SCHEDULED REVIEW DID NOT HAPPEN!***
%p Uh oh, a creator just informed us that a review DID NOT happened. We now need to reach out to this person and see what happened.
%ul
  %li
    Restaurant name:
    = @restaurant.name
  %li
    Creator name:
    = @creator.name
  %li
    Creator email:
    = @creator.email

