<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <%= yield %>
    <br />
    <p>Thank You</p>
    <a href="https://unirestaurantclub.com/">
      <img height="35" src="https://urc-public-images.s3.us-east-2.amazonaws.com/output-onlinepngtools.png"/>
      <p>www.unirestaurantclub.com</p>
    </a>
  </body>
</html>
